:root {
    --color-primary:#780000;
    --color-secondary:#06344B;
    --color-neutral:#F6EFE9;

    --font-size-la:3rem;
    --font-size-md:2.25rem;
    --font-size-sm:1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(heart-bg.jpg);
}

html {
    font-size: clamp(10px, 0.8vw + 8px, 16px);
}

/* Envelope screen */
#envelope-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease;
}

@keyframes pulse {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-8px) scale(1.1);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

#envelope {
    width: 25%;
    margin-bottom: 2.5rem;
    animation: pulse 1.5s infinite ease-out;
    cursor: pointer;
}

.text-body-md {
    font: 500 var(--font-size-md)/1.2 "Truculenta", sans-serif;
    color: var(--color-secondary);
}

h2.text-body-md {
    display: inline-block;
    background-color: var(--color-neutral);
}

/* Invitation screen */
#invitation-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
}

.fade-out {opacity: 0;}

#petal {
    position: absolute;
    z-index: 2;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;;
}

.modal {
    width: 85%;
    background: white;
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 3rem;
    border: 4px solid var(--color-secondary);
    border-radius: 20px;
}

#invitation-modal,
#yes-modal {transition: opacity 0.5s linear;}

.text-display-la {
    font: 400 var(--font-size-la)/1.5 "Playwrite US Trad", cursive;
    color: var(--color-primary);
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
}

p.text-body-md {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
}

.text-display-sm {
    font: 300 var(--font-size-sm)/1.5 "Playwrite US Trad", cursive;
    color: var(--color-primary);
}

p.text-display-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.button-group {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
}

.btn{
    font: 600 var(--font-size-sm)/1 "Truculenta", sans-serif; 
    color: var(--color-neutral);
    min-width: 10rem;
    padding: 1.25rem 2.25rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
#yes-btn {background-color: var(--color-secondary);}

#no-btn {
    background-color: var(--color-primary);
    transition: transform 0.15s ease;
}

.sticker {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#heart {
    width: clamp(11rem, 20vw, 16rem);
    top: 3vw;
    left: 0;
}

#cat {
    width: clamp(12rem, 20vw, 16rem);
    top: 0;
    right: 0;
}

#rainbow {
    width: clamp(16rem, 20vw, 20rem);
    bottom: 0;
    left: 0;
}

#bird {
    width: clamp(5rem, 20vw, 9rem);
    bottom: 5vw;
    right: 0;
}
